<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" href="../static/css/main.css"
	th:href="@{/css/main.css}" rel="stylesheet" />
<title>Very big number operations: stress tests</title>
</head>
<body>
	<h1>Very big number operations: stress tests</h1>
	<form action="#" th:action="@{/report}" th:object="${testData}"
		method="post">
		<table>
			<tr>
				<td><label for="digits1">Number of digits in 1st
						argument:</label>
				</td>
				<td><input type="text" name="digits1" th:field="*{digits1}" />
				</td>
			</tr>
			<tr>
				<td><label for="digits2">Number of digits in 2nd
						argument:</label></td>
				<td><input type="text" name="digits2" th:field="*{digits2}" />
				</td>
			</tr>
			<tr>
				<td><label for="operation">Operation:</label></td>
				<td><select name="operation" th:field="*{operation}">
						<option th:each="op : ${testData.Operation.values()}"
							th:value="${op}" th:text="${op.displayName}">display
							name</option>
				</select></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;"><input type="submit" /> <input type="reset" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>